# pandas - Python Data Analysis Library
## Introduction
**Pandas** is a powerful Python library for data manipulation and analysis, you can find all the help you need directly from [Pandas' website](https://pandas.pydata.org).  
It provides two main data structures: `Series` and `DataFrame`.

In this notebook, we will learn how to:
- Create and manipulate Series and DataFrames
- Load data from CSV files
- Perform basic statistical operations
- Filter and visualize data

In [ ]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import numpy as np

## Creating a Series
A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its index.

In [ ]:
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
t = pd.Series([130, 120, 160, 140], index=['a', 'b', 'c', 'd'])
print(t)

a    130
b    120
c    160
d    140
dtype: int64

In [ ]:
print("Original Series s:")
print(s)

print("\nOriginal Series t:")
print(t)

# 1. Scalar arithmetic operations
print("\nScalar addition (s + 5):")
print(s + 5)

print("\nScalar multiplication (t * 2):")
print(t * 2)

# 2. Universal functions (ufuncs)
# Pandas Series integrate seamlessly with NumPy ufuncs
print("\nApplying np.sqrt to s:")
print(np.sqrt(s))

print("\nApplying np.log to t:")
print(np.log(t))

# 3. Element-wise operations between two Series
# (Note: This will align by index. If indices don't match, it will result in NaN)
print("\nElement-wise addition (s + s):")
print(s + s)

# Create a new series for demonstration of index alignment
s_subset = pd.Series([1, 2], index=[0, 1])
print("\nSubset of s:")
print(s_subset)
print("\nElement-wise addition (s + s_subset) - demonstrating index alignment:")
print(s + s_subset)

# 4. Comparison operations
print("\nComparison operation (s > 25):")
print(s > 25)

print("\nComparison operation (t == 130):")
print(t == 130)

Original Series s:
0    10
1    20
2    30
3    40
dtype: int64

Original Series t:
a    130
b    120
c    160
d    140
dtype: int64

Scalar addition (s + 5):
0    15
1    25
2    35
3    45
dtype: int64

Scalar multiplication (t * 2):
a    260
b    240
c    320
d    280
dtype: int64

Applying np.sqrt to s:
0    3.162278
1    4.472136
2    5.477226
3    6.324555
dtype: float64

Applying np.log to t:
a    4.867534
b    4.787492
c    5.075174
d    4.941642
dtype: float64

Element-wise addition (s + s):
0    20
1    40
2    60
3    80
dtype: int64

Subset of s:
0    1
1    2
dtype: int64

Element-wise addition (s + s_subset) - demonstrating index alignment:
0    11.0
1    22.0
2     NaN
3     NaN
dtype: float64

Comparison operation (s > 25):
0    False
1    False
2     True
3     True
dtype: bool

Comparison operation (t == 130):
a     True
b    False
c    False
d    False
dtype: bool

In [ ]:
# I can create a dict form a serie...
f = t.to_dict()
print(f)

# ....and viceversa
d = pd.Series(f)
print(d)

{'a': 130, 'b': 120, 'c': 160, 'd': 140}
a    130
b    120
c    160
d    140
dtype: int64

## Creating a DataFrame
A DataFrame is a two-dimensional, size-mutable, and heterogeneous data structure with named columns each of which can be a different value type. It can be defined as a **dictionary of Series**

In [ ]:
data = {
    'Name': ['Anna', 'Luca', 'Marco', 'Julia','Toni','Bepi', 'Nane'],
    'Age': [17, 18, 16, 17, 18, 19, 18],
    'Class': ['5A', '5B', '4A', '5A', '5C','5D', '5A']
}

df = pd.DataFrame(data)
df

    Name  Age Class
0   Anna   17    5A
1   Luca   18    5B
2  Marco   16    4A
3  Julia   17    5A
4   Toni   18    5C
5   Bepi   19    5D
6   Nane   18    5A

In [ ]:
# Retrieve the 'Age' column as a Series
age_series = df['Age']
print(age_series)
print(type(age_series))

0    17
1    18
2    16
3    17
4    18
5    19
6    18
Name: Age, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
print("First 5 rows of the DataFrame:")
print(df.head())

print("\nLast 3 rows of the DataFrame:")
print(df.tail(3))

First 5 rows of the DataFrame:
    Name  Age Class
0   Anna   17    5A
1   Luca   18    5B
2  Marco   16    4A
3  Julia   17    5A
4   Toni   18    5C

Last 3 rows of the DataFrame:
   Name  Age Class
4  Toni   18    5C
5  Bepi   19    5D
6  Nane   18    5A

## Basic DataFrame operations

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Class   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

The df.describe() method generates descriptive statistics of the DataFrame. It provides a summary of the central tendency, dispersion, and shape of the distribution of the numerical columns. As you can see from the output, it includes:

* count: The number of non-null values.
* mean: The average value.
* std: The standard deviation.
* min: The minimum value.
* 25%: The first quartile (25th percentile).
* 50%: The median (50th percentile).
* 75%: The third quartile (75th percentile).
* max: The maximum value.

In [ ]:
df.describe()

             Age
count   7.000000
mean   17.571429
std     0.975900
min    16.000000
25%    17.000000
50%    18.000000
75%    18.000000
max    19.000000

`df.describe()` by default only shows descriptive statistics for numerical columns in the DataFrame. In your df DataFrame, 'Age' is the only numerical column, while 'Name' and 'Class' are of object type (strings).

In [ ]:
df.describe(include='all')

        Name        Age Class
count      7   7.000000     7
unique     7        NaN     5
top     Anna        NaN    5A
freq       1        NaN     3
mean     NaN  17.571429   NaN
std      NaN   0.975900   NaN
min      NaN  16.000000   NaN
25%      NaN  17.000000   NaN
50%      NaN  18.000000   NaN
75%      NaN  18.000000   NaN
max      NaN  19.000000   NaN

In [ ]:
df['Age'].mean()

np.float64(17.571428571428573)

In [ ]:
df['Class'].value_counts()

Class
5A    3
5B    1
4A    1
5C    1
5D    1
Name: count, dtype: int64

## Filtering and selecting data

In [ ]:
df[df['Age'] > 17]

   Name  Age Class
1  Luca   18    5B
4  Toni   18    5C
5  Bepi   19    5D
6  Nane   18    5A

In [ ]:
df[df['Class'] == '5A']

    Name  Age Class
0   Anna   17    5A
3  Julia   17    5A
6   Nane   18    5A

In [ ]:
df.loc[0:2, ['Name', 'Class']]

    Name Class
0   Anna    5A
1   Luca    5B
2  Marco    4A

## Exercises

1. Create a DataFrame with at least 5 students, including columns: Name, Surname, Age, Class.
2. Calculate the average age of the students.
3. Display how many students are in each class.
4. Filter only the students in class 5A.

Try to complete these tasks in new code cells below.

In [ ]:
## solve the exercise here
student = {
    'Name': ['Anna', 'Luca', 'Marco', 'Julia','Toni','Bepi', 'Nane'],
    'Surname': ['Rossi', 'Bianchi', 'Verdi', 'Filini','Calvoni','Gialli', 'Lomu'],
    'Age': [17, 18, 16, 17, 18, 19, 18],
    'Class': ['5A', '5B', '4A', '5A', '5C','5D', '5A']
}

sf = pd.DataFrame(student)
display(sf)

# mean age
mean_age = sf['Age'].mean()
print(f"\nAverage age of students: {mean_age}")

# students per class
class_counts = sf['Class'].value_counts()
print("\nNumber of students in each class:")
display(class_counts)

# Add a new column 'avg_mark' to the DataFrame
sf['avg_mark'] = [7.5, 8.0, 6.5, 7.0, 8.5, 9.0, 7.0]

# Add a new column 'result' based on the 'avg_mark'
sf['result'] = sf['avg_mark'] > 6

# Sort the DataFrame by the 'Class' and then 'Surname' columns
sorted_sf = sf.sort_values(by=['Class', 'Surname'])
display(sorted_sf)
print()
# Display the DataFrame with the new columns
display(sf)

    Name  Surname  Age Class
0   Anna    Rossi   17    5A
1   Luca  Bianchi   18    5B
2  Marco    Verdi   16    4A
3  Julia   Filini   17    5A
4   Toni  Calvoni   18    5C
5   Bepi   Gialli   19    5D
6   Nane     Lomu   18    5A

Average age of students: 17.571428571428573

Number of students in each class:

Class
5A    3
5B    1
4A    1
5C    1
5D    1
Name: count, dtype: int64

    Name  Surname  Age Class  avg_mark  result
2  Marco    Verdi   16    4A       6.5    True
3  Julia   Filini   17    5A       7.0    True
6   Nane     Lomu   18    5A       7.0    True
0   Anna    Rossi   17    5A       7.5    True
1   Luca  Bianchi   18    5B       8.0    True
4   Toni  Calvoni   18    5C       8.5    True
5   Bepi   Gialli   19    5D       9.0    True

    Name  Surname  Age Class  avg_mark  result
0   Anna    Rossi   17    5A       7.5    True
1   Luca  Bianchi   18    5B       8.0    True
2  Marco    Verdi   16    4A       6.5    True
3  Julia   Filini   17    5A       7.0    True
4   Toni  Calvoni   18    5C       8.5    True
5   Bepi   Gialli   19    5D       9.0    True
6   Nane     Lomu   18    5A       7.0    True

## Loading Data from CSV Files

Pandas provides the `read_csv()` function to easily load data from a CSV (Comma Separated Values) file into a DataFrame. This is one of the most common ways to get external data into your pandas workflow.

### Key parameters of `read_csv()`:
*   **filepath_or_buffer**: The path to the CSV file.
*   **sep**: Delimiter to use. Defaults to `','`.
*   **header**: Row number to use as the column names, and a zero-based index. Defaults to `0`.
*   **index_col**: Column(s) to use as the row labels of the DataFrame. Defaults to `None`.
*   **dtype**: Dictionary of columns and their data types.
*   **parse_dates**: List of column names to parse as dates.

Let's create a dummy CSV file and then load it into a DataFrame.

In [ ]:
import pandas as pd

# Create a dummy CSV from a db export

# Load the CSV file into a DataFrame
df_csv = pd.read_csv('sample_data.csv')

print("DataFrame loaded from 'sample_data.csv':")


# Then load directly from a URL
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df_titanic = pd.read_csv(url)
print("\nDataFrame loaded from URL (Titanic dataset head):")
display(df_titanic.head())

DataFrame loaded from 'sample_data.csv':

DataFrame loaded from URL (Titanic dataset head):

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Counting Unique Values

In [ ]:
# Count the number of passengers in each class
print("Count of passengers per Pclass:")
display(df_titanic['Pclass'].value_counts())

# Count the number of male and female passengers
print("\nCount of passengers by Sex:")
display(df_titanic['Sex'].value_counts())

# Count the number of survivors vs. non-survivors
print("\nSurvival counts (0 = No, 1 = Yes):")
display(df_titanic['Survived'].value_counts())

### Calculating Averages

In [ ]:
# Calculate the average age of passengers
print(f"Average age of all passengers: {df_titanic['Age'].mean():.2f}")

# Calculate the average fare paid by passengers
print(f"Average fare paid by all passengers: {df_titanic['Fare'].mean():.2f}")

# Calculate the average age for survivors vs. non-survivors
print("\nAverage age by survival status:")
display(df_titanic.groupby('Survived')['Age'].mean())

# Calculate the average survival rate for each gender
print("\nSurvival rate by Sex:")
display(df_titanic.groupby('Sex')['Survived'].mean())

### Filtering Data

In [ ]:
# Filter for passengers who survived
print("Survivors:")
display(df_titanic[df_titanic['Survived'] == 1].head())

# Filter for female passengers older than 30
print("\nFemale passengers older than 30:")
display(df_titanic[(df_titanic['Sex'] == 'female') & (df_titanic['Age'] > 30)].head())

### Sorting Data

In [ ]:
# Sort passengers by age in ascending order
print("Passengers sorted by Age (ascending):")
display(df_titanic.sort_values(by='Age').head())

# Sort passengers by fare in descending order, then by age in ascending order
print("\nPassengers sorted by Fare (descending) and then Age (ascending):")
display(df_titanic.sort_values(by=['Fare', 'Age'], ascending=[False, True]).head())